/* ----------------------------------- about-post-type ----------------------------------- */
.title-about-post-type {
	text-align: center;
	font-weight: 900;
	font-size: 60px;
	margin: 20px;
	text-align:center;
}

.seos-about-post-type-boxes {
    position: relative;
	margin: 0 auto;
    width: 200px;
    text-align: center;
}
	
.seos-about-post-type {
	background-color: #EAEAEA;
    border: 1px solid #C6C6C6;
    overflow: hidden;
	width: 31%;
	height: auto;
	vertical-align: top;
	text-align: center;
	padding: 10px 10px 40px 10px;
	margin: 10px;
	color: #333333;
	word-wrap: break-word;
    text-align: center;
    display: inline-block;	
}

.seos-about-post-type img {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

.seos-about-post-type h4 {
	padding: 10px 0 10px 0;
	font-weight: 900;
	font-size: 25px;
	color: #21759b;
}

.seos-about-post-type p {
	text-align: center;
}

.about-post-type-shortcode img {
	width: 150px;
	border-radius: 50%;
	margin: 0 auto;
	height: 150px;
}

.seos-about-post-type:hover   {
	-webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
	-moz-box-shadow: inset 0 1000px 60px -60px #333333;
	-webkit-box-shadow: inset 0 1000px 60px -60px #333333;
	 box-shadow: inset 0 1000px 60px -60px #333333;
}

.seos-about-post-type:hover h4, .seos-about-post-type:hover p {
	color: #FFFFFF;
}

.seos-about-post-type .read-more {
	background: #21759b;
	text-align: center;
	color: #fff;
	padding: 8px;
	margin: 0 auto;
	margin-top: 20px;
}

.seos-about-post-type:hover .read-more {
	background: #2488AF;
}

.seos-about-post-type:hover .read-more:hover {
	background: #2BA3CE;
}

.about-post-type-shortcode {
	margin-left: auto;
	margin-right: auto;
	text-align:	center;
	width: 100%;
	display: inline-block;
}

.about-post-type-shortcode .seos-about-post-type {
	width: 200px;
	min-height: auto;
	text-align: center;
	display: inline-block;
}